*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.8);
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
}

nav {
  text-transform: uppercase;
  z-index: 1;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

nav .container .navbar-toggler {
  color: #ddd;
}

nav .container a {
  font-weight: bold;
}

nav .container a span {
  color: deepskyblue;
}

nav .container a:hover {
  color: deepskyblue;
}

nav .container a,
nav .container .nav-item {
  color: #ddd;
}

nav .container .collapse .navbar-nav .active {
  color: deepskyblue;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2019/10/14/20/32/landscape-4549971_960_720.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  background-position: center;
}

header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.8);
}

header .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
  text-transform: uppercase;
}

header .hero-text h1 {
  color: #ddd;
}

header .hero-text h1 span {
  color: deepskyblue;
}

header .hero-text p {
  color: #ddd;
}

.discounts {
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.search-engine .container .input-group {
  width: 400px;
  margin: 0 auto;
}

.search-engine .container .input-group input {
  width: 290px;
  border-radius: 10px;
  padding: 5px;
}

.search-engine .container .input-group form button {
  border-radius: 15px;
  font-size: 13px;
  padding: 9px;
  width: 104px;
}

.search-engine .container .input-group form button:hover {
  -webkit-box-shadow: inset 4px 4px 12px black;
          box-shadow: inset 4px 4px 12px black;
  font-weight: bold;
}

.search-engine h2 {
  text-align: center;
  text-transform: uppercase;
  color: #ddd;
}

.search-engine p {
  text-align: center;
  color: #ddd;
  font-size: 40px;
}

.categories .container h2 {
  color: #ddd;
  text-transform: uppercase;
  text-align: center;
}

.categories .container .group .btn-group {
  margin: 10px 5px;
}

.categories .container .group .btn-group .dropdown-toggle::after {
  display: none;
}

.login .container {
  text-align: center;
}

.login .container h2 {
  color: #ddd;
}

.login .container p {
  color: #ddd;
  padding-top: 15px;
}

.login .container a {
  color: deepskyblue;
  text-decoration: none;
}

.login .container a:hover {
  color: rgba(0, 191, 255, 0.356);
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-section .container .footer-cta {
  border-bottom: 1px solid #373636;
  text-align: center;
}

.footer-section .container .footer-cta .single-cta {
  color: deepskyblue;
  font-size: 30px;
  margin-top: 8px;
}

.footer-section .container .footer-cta .single-cta i {
  display: -ms-grid;
  display: grid;
  margin-bottom: 15px;
}

.footer-section .container .footer-cta .single-cta .cta-text {
  padding-left: 15px;
  display: inline-block;
}

.footer-section .container .footer-cta .single-cta .cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}

.footer-section .container .footer-cta .single-cta .cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-section .container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  padding-top: 45px;
}

.footer-section .container .footer-content .footer-logo {
  margin-bottom: 30px;
  text-align: center;
}

.footer-section .container .footer-content .footer-logo a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 40px;
}

.footer-section .container .footer-content .footer-logo span {
  color: deepskyblue;
}

.footer-section .container .footer-content .social-links p {
  color: #fff;
}

.footer-section .container .footer-content .social-links a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-section .container .footer-content .social-links i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 20px;
}

.footer-section .container .footer-content .social-links i:hover {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.footer-section .container .footer-content .social-links .facebook-bg {
  background: #3b5998;
}

.footer-section .container .footer-content .social-links .linkedin-bg {
  background: #0077b5;
}

.footer-section .container .footer-content .social-links .instagram-bg {
  display: inline-block;
  text-align: center;
  border-radius: 40px;
  color: #fff;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 320px) {
  .container {
    width: 100vw;
  }
  .footer-section .container {
    margin: 0 auto;
  }
  .footer-section .container .row .single-cta i {
    padding: 0 30px;
  }
  .footer-section .container .row .single-cta .cta-text {
    padding: 0 30px;
  }
  .footer-section .container .footer-content .container .footer-logo a {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */