* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}

.container {
	position: absolute;
	display: block;
	height: 500px;
	width: 400px;
	top: 150px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.container .title {
	text-align: center;
	padding-top: 10px;
	text-transform: uppercase;
}
hr {
	width: 70%;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
.container .name {
	background-color: red;
}
.container input {
	height: 40px;
}
.container .name input {
	position: absolute;
	left: 5%;
	top: 50px;
}
.container .surname input {
	position: absolute;
	right: 5%;
	top: 50px;
}
.container .phone input {
	position: absolute;
	left: 50%;
	top: 100px;
	width: 200px;
	transform: translateX(-50%);
}
.container .email input {
	position: absolute;
	top: 180px;
	left: 50%;
	width: 200px;
	transform: translateX(-50%);
}
.container .password input {
	position: absolute;
	top: 250px;
	width: 200px;
	left: 50%;
	transform: translateX(-50%);
}
.container .comeback {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.container .comeback a {
	text-decoration: none;
	color: #fff;
	transition: color 0.5s;
}
.container .comeback a:hover {
	color: deepskyblue;
}
.container .button .register:hover {
	box-shadow: inset 4px 4px 12px black;
}
.container .button .register {
	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
	position: absolute;
	top: 350px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	height: 50px;
	cursor: pointer;
	transition: box-shadow 0.5s;
}
.container .button .register a {
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
