<!DOCTYPE html>
{% load static %}
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TeleKurwisie</title>
		<link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/e72b2f82ff.js"
			crossorigin="anonymous"
		></script>
		<script src="./main.js"></script>
	</head>
	<body>
		<nav>
			<div class="title">
				<a href="http://127.0.0.1:8000/">
				<p>Tele<span>Kurwisie</span></p>
				</a>
			</div>
			<div class="user-item login">
				<a href="shop-user/login/">
				<p><i class="fa-solid fa-user"></i>Zaloguj się</p>
				</a>
				</div>
			<div class="user-item basket">
				<i class="fa-solid fa-basket-shopping"></i>Koszyk
			</div>
		</nav>
		<aside>
			<div class="works">
				<p class="first">działy</p>
				<p class="second">korzyści</p>
			</div>
			<hr />
			<div class="list">
				<ul>
					<li>
						<a href=""><i class="fa-solid fa-computer"></i>Elektronika</a>
                        <div class="mega-menu">
                            <div class="phones">
                                <ol><p>Telefony i akcesoria</p>
                                <a href="#"><li>Smartfony</li></a>
                                <a href="#"><li>Etui, pokrowce</li></a>
                                <a href="#"><li>Smartwatche</li></a>
                                <a href="#"><li>Tablety</li></a>
                            </ol>
                            </div>
                            <div class="computers">
                                <ol>
                                    <p>Komputery</p>
                                    <a href="#"><li>Laptopy</li></a>
                                    <a href="#"><li>Części do laptopów</li></a>
                                    <a href="#"><li>Komputery stacjonarne</li></a>
                                    <a href="#"><li>Podzespoły komputerowe</li></a>
                                    <a href="#"><li>Drukarki i skanery</li></a>
                                </ol>
                            </div>
                            <div class="tv">
                                <ol>
                                    <p>Telewizory i akcesoria</p>
                                    <a href="#"><li>Telewizory</li></a>
                                    <a href="#"><li>Projektory</li></a>
                                    <a href="#"><li>Słuchawki</li></a>
                                    <a href="#"><li>Kino domowe</li></a>
                                    <a href="#"><li>Audio dla domu</li></a>
                                </ol>
                            </div>
                            <div class="Konsols">
                                <ol>
                                    <p>Konsole</p>
                                    <a href="#"><li>PLayStation</li></a>
                                    <a href="#"><li>Xbox</li></a>
                                    <a href="#"><li>Nintendo Switch</li></a>
                                </ol>
                            </div>
                        </div>

					</li>
					<li>
						<a href="#"><p><i class="fa-solid fa-shirt"></i>Moda</p></a>
                        <div class="mega-menu2">
                            <div class="she">
                            <ol>
                                <p>Ona</p>
                                <a href="#"><li>Odzież damska</li></a>
                                <a href="#"><li>Buty damskie</li></a>
                                <a href="#"><li>Bielizna damska</li></a>
                                <a href="#"><li>zegarki damskie</li></a>
                                <a href="#"><li>Biżuteria damska</li></a>
                            </ol>
                        </div>
                        <div class="he">
                            <ol>
                                <p>On</p>
                                <a href="#"><li>Odzież męska</li></a>
                                <a href="#"><li>Buty męskie</li></a>
                                <a href="#"><li>Bielizna męska</li></a>
                                <a href="#"><li>zegarki męskie</li></a>
                                <a href="#"><li>Biżuteria męska</li></a>
                            </ol>
                        </div>
                        <div class="child">
                            <ol>
                                <p>Ona</p>
                                <a href="#"><li>Odzież dziecięca</li></a>
                                <a href="#"><li>Buty dziecięce</li></a>
                                <a href="#"><li>Bielizna dziecięca</li></a>
                                <a href="#"><li>Odzież niemowlęca</li></a>
                                <a href="#"><li>Buty sportowe dla dzieci</li></a>
                            </ol>
                        </div>
                        <div class="Promo">
                            <ol>
                                <p>Ona</p>
                                <a href="#"><li>Odzież męska</li></a>
                                <a href="#"><li>Obuwie</li></a>
                                <a href="#"><li>bielizna damska</li></a>
                                <a href="#"><li>zegarki</li></a>
                                <a href="#"><li>Biżuteria</li></a>
                            </ol>
                        </div>
                    </div>
                    </li>

					<li>
						<a href="#"><p><i class="fa-solid fa-house"></i>Dom i Ogród</p></a>
                        <div class="mega-menu3">
                            <div class="equipment"></div>
                            <ol>
                                <p>Wyposażenie</p>
                                <a href="#"><li>Dekoracje</li></a>
                                <a href="#"><li>Dywany</li></a>
                                <a href="#"><li>Pościele i koce</li></a>
                                <a href="#"><li>Zasłony</li></a>
                                <a href="#"><li>Garnki i patelnie</li></a>
                                <a href="#"><li>Zastawa stołowa</li></a>
                                <a href="#"><li>Przybory kuchenne</li></a>
                            </ol>
                            <div class="tools"></div>
                            <ol>
                                <p>Narzędzia</p>
                                <a href="#"><li>Wkrętarki</li></a>
                                <a href="#"><li>piły</li></a>
                                <a href="#"><li>Szlifierki</li></a>
                                <a href="#"><li>Spawarki</li></a>
                                <a href="#"><li>Młotowiertarki</li></a>
                                <a href="#"><li>Przyrządy miernicze</li></a>
                                <a href="#"><li>Urządzenia czyszczące</li></a>
                            </ol>
                            <div class="furniture"></div>
                            <ol>
                                <p>Meble</p>
                                <a href="#"><li>Dekoracje</li></a>
                                <a href="#"><li>Dywany</li></a>
                                <a href="#"><li>Pościele i koce</li></a>
                                <a href="#"><li>Zasłony</li></a>
                                <a href="#"><li>Garnki i patelnie</li></a>
                                <a href="#"><li>Zastawa stołowa</li></a>
                                <a href="#"><li>Przybory kuchenne</li></a>
                            </ol>
                        </div>
					</li>
					<li>
						<a href="#"><p><i class="fa-solid fa-baby"></i>Dziecko</p></a>
					</li>
					<li>
						<a href="#"><p><i class="fa-solid fa-heart"></i></i>Zdrowie</p></a>
					</li>
					<li>
						<a href="#"><p><i class="fa-solid fa-baseball-bat-ball"></i>Sport i Rozrywka</p></a>
					</li>
					<li>
						<a href="#"><p><i class="fa-solid fa-car"></i>Motoryzacja</p></a>
					</li>
					<li>
						<a href="#"><p><i class="fa-solid fa-house-chimney-user"></i>Nieruchomości</p></a>
					</li>
					<li>
						<a href="#"><p><i class="fa-solid fa-utensils"></i>Żywność</p></a>
					</li>
				</ul>
			</div>
		</aside>
		<div class="ad">
			<div class="text">
				<p>Miejsce na Twoją reklame</p>
			</div>
		</div>
		<main>
			<div class="upperMain">
				<label id="name">Czego szukasz?</label>

				<input type="text" id="search" />
				<button class="btn-search">Szukaj</button>
				<label for="product-select"></label>
				<select id="product-select">
					<option value="all">Wszystkie Kategorie</option>
					<optgroup label="Kategorie">
						<option>Kategoria 1</option>
						<option>Kategoria 2</option>
						<option>Kategoria 3</option>
						<option>Kategoria 4</option>
						<option>Kategoria 5</option>
						<option>Kategoria 6</option>
						<option>Kategoria 7</option>
					</optgroup>
					<optgroup label="Inne Opcje">
						<option>Opcja 1</option>
						<option>Opcja 2</option>
						<option>Opcja 3</option>
						<option>Opcja 4</option>
					</optgroup>
				</select>
			</div>
			<div class="current-promotions">
				<h2>Aktualne zniżki</h2>
				<div class="image-promotions">
					<img class="image1" src="./img/TELETUBIES.jpg" alt="teletubisie 1" />
					<img
						class="image2"
						src="./img/teletubisie 2.jpg"
						alt="teletubisie 2"
					/>
					<img
						class="image3"
						src="./img/teletubisie 3.jpg"
						alt="teletubisie 3"
					/>
					<img
						class="image4"
						src="./img/teletubisie 4.jpg"
						alt="teletubisie 4"
					/>
					<img
						class="image5"
						src="./img/teletubisie 5.jpg"
						alt="teletubisie 5"
					/>
				</div>
				<div class="list-promotions">
					<button class="btn-promo">Zniżka 1</button>
					<button class="btn-promo">Zniżka 2</button>
					<button class="btn-promo">Zniżka 3</button>
					<button class="btn-promo">Zniżka 4</button>
					<button class="btn-promo">Zniżka 5</button>
				</div>
			</div>
		</main>
		<footer></footer>
	</body>
</html>
