<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Logowanie</title>
		<link rel="stylesheet" href="./css/login.css" />
		<link rel="shortcut icon" href="https://i.pinimg.com/564x/49/a7/24/49a7247bc0f530e1d427f6dab3c32cf0.jpg" />
		<script src="https://kit.fontawesome.com/e72b2f82ff.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<div class="container">
			<div class="title">
				<h2>Panel Logowania</h2>
			</div>
			<div class="email">
				<input type="text" placeholder="Podaj swój email..." />
			</div>
			<div class="password">
				<input type="password" placeholder="Podaj swoje hasło..." />
			</div>
			<form>
				<p>Zapamiętaj mnie <input type="checkbox" id="remember" /></p>
			</form>
			<div class="buttons">
				<button class="login"><a href="#">Zaloguj się!</a></button>
				<button class="register"><a href="./sign_up.html">Zarejestruj się!</a></button>
			</div>
			<div class="comeback">
				<a href="../../templates/base.html">Powrót na stronę główną</a>
			</div>
		</div>
	</body>
</html>
