{% extends 'base.html' %}
{% load static %}
{% block searchSearch %}
<div>
    <p id = "finded_obj"> Liczba wyszukanych obiektów  {{ products|length }}</p>
    {% for i in products %}
    {% if i.Is_listed %}
            <h1>{{ i.Product_name }} </h1>
            <h1>{{ i.Price }} </h1>
            {% if i.Image %}
                <img src="{{ i.Image.url }}"  alt="brak" />
            {% else %}
                <img src="{% static 'img/no_image.png' %}">
            {% endif %}
            <h1>{{ i.Describe }}</h1>
            <h1>{{ i.Date_added }}</h1>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}