{% extends 'main_search.html' %}
{% load static %}
{% block searchSearch %}
<div>
    <p id = "finded_obj"> Liczba wyszukanych obiektów  {{ products|length }}</p>
    {% for i in products %}
    {% if i.Is_listed %}
            <h1>{{ i.Product_name }} </h1>
            <h1>{{ i.Price }} </h1>
            {% if i.Image %}
                <img src="{{ i.Image.url }}"  alt="brak" />
            {% else %}
                <img src="{% static 'img/no_image.png' %}">
            {% endif %}
            <h1>{{ i.Describe }}</h1>
            <h1>{{ i.Date_added }}</h1>

            <form action="{% url 'add_to_basket' %}" name="product" method="POST">
                {% csrf_token %}
                <input hidden name="Id_product" type="text" value='{{ i.id }}'>
                <input hidden name="Id_client" type="text" value='{{ user.id }}'>
                <input hidden name="Price" type="number" value='{{ i.Price }}'>
                <label for="Quantity">Podaj ilość:</label>
                <input name="Quantity" type="number" id="Quantity" value="1">
                <input type="submit" value='Dodaj do koszyka'>
            </form>
            <hr size="20" color="red">
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

